In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame(np.random.randn(4,3), columns = list('bde'), index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

In [3]:
frame

               b         d         e
Utah   -0.004751  0.523555 -0.132152
Ohio    0.250362  1.019227  0.303166
Texas   0.329453 -0.467851  1.514222
Oregon  0.191823  0.699747 -1.204075

In [4]:
np.abs(frame)

               b         d         e
Utah    0.004751  0.523555  0.132152
Ohio    0.250362  1.019227  0.303166
Texas   0.329453  0.467851  1.514222
Oregon  0.191823  0.699747  1.204075

In [11]:
f = lambda x: x.max() - x.min()

In [6]:
frame.apply(f)

b    0.334204
d    1.487078
e    2.718297
dtype: float64

In [7]:
frame.apply(f, axis='columns')

Utah      0.655707
Ohio      0.768865
Texas     1.982073
Oregon    1.903822
dtype: float64

In [12]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [14]:
frame.apply(f, axis=1)

             min       max
Utah   -0.132152  0.523555
Ohio    0.250362  1.019227
Texas  -0.467851  1.514222
Oregon -1.204075  0.699747

In [15]:
format = lambda x: '%.2f' % x

In [16]:
frame.applymap(format) ## Reason for name applymap is bcoz series have map

            b      d      e
Utah    -0.00   0.52  -0.13
Ohio     0.25   1.02   0.30
Texas    0.33  -0.47   1.51
Oregon   0.19   0.70  -1.20

In [18]:
frame['e'].map(format)

Utah      -0.13
Ohio       0.30
Texas      1.51
Oregon    -1.20
Name: e, dtype: object