In [1]:
import pandas as pd

In [3]:
obj = """ {
"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age":30, "pets":["Zeus", "Zuko"]},
            {"name": "Katie", "age":38, "pets":["Sixes", "Stache", "Cisco"]}
        ]
}"""

In [4]:
import json

In [5]:
result = json.loads(obj)

In [8]:
type(result)

dict

In [9]:
asJson = json.dumps(result)

In [11]:
type(asJson)

str

In [15]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age', 'pets'])

In [17]:
siblings[['name', 'age']]

    name  age
0  Scott   30
1  Katie   38

In [3]:
siblings = pd.read_json('jsontest.json')

In [4]:
siblings

,name,places_lived,pet,siblings
0,Wes,"[United States, Spain, Germany]",NaN,"[{'name': 'Scott', 'age': 30, 'pets': ['Zeus',..."

In [6]:
data = pd.read_json("example.json")

In [7]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
data.to_json()

'{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}'

In [9]:
data.to_json(orient='records')

'[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]'