In [15]:
import pandas as pd
import numpy as np

In [5]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index = list('dbac'))

In [6]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [7]:
obj2 = obj.reindex(list('abcde'))

In [8]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [9]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0,2,4])

In [10]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [14]:
obj3.reindex(range(6,), method = 'ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [16]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),
                     index = ['a', 'c', 'd'],
                    columns = ['Ohio', 'Texas', 'California'])

In [17]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [18]:
frame.reindex(['a','b','c','d'])

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [32]:
state = ['Texas', 'Utha', 'California']
frame.reindex(columns=state)

   Texas  Utha  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [34]:
frame.reindex(index = ['a','b', 'c','d' ], columns = state)

   Texas  Utha  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0