In [1]:
import pandas as pd
import numpy as np

# Sorting

In [2]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])

In [3]:
obj

d    0
a    1
b    2
c    3
dtype: int64

In [4]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [11]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

In [5]:
frame = pd.DataFrame(np.arange(8).reshape(2,4), index=['three', 'one'], columns = ['d', 'a', 'b', 'c'])

In [6]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [7]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [8]:
frame.sort_index(axis = 1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [9]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [2]:
frame = pd.DataFrame({'b' : [4,7,-3,2] ,})

# Ranking

In [3]:
obj = pd.Series([7, -5,7, 4, 2, 0, 4])

In [4]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [5]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [6]:
obj.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [7]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})

In [8]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [13]:
frame.rank(axis='columns', method='dense')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

# Axis Indexes with Duplicate Labels

In [14]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])

In [15]:
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [16]:
obj.index.is_unique

False

In [17]:
obj['a']

a    0
a    1
dtype: int64

In [18]:
obj['c']

4

In [19]:
df = pd.DataFrame(np.random.randn(4,3), index=['a', 'a', 'b', 'b'])

In [20]:
df

          0         1         2
a  0.593059 -0.068607 -0.706748
a  0.180668  2.052142  0.530124
b -1.410891  1.143990 -0.039753
b -0.466064  0.407862  1.099086

In [21]:
df.loc['b']

          0         1         2
b -1.410891  1.143990 -0.039753
b -0.466064  0.407862  1.099086

In [23]:
df.iloc[2]

0   -1.410891
1    1.143990
2   -0.039753
Name: b, dtype: float64

In [24]:
df = pd.DataFrame([ [1.4, np.nan], 
                    [7.1, -4.5], 
                    [np.nan, np.nan], 
                    [0.75, -1.3] ],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])

In [25]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [26]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [27]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [32]:
df.mean(axis=1, skipna=True)

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [33]:
df.idxmin()

one    d
two    b
dtype: object

In [34]:
df.idxmax()

one    b
two    d
dtype: object

In [35]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [37]:
dfdesb = df.describe()

In [44]:
dfdesb.loc['count']['one']

3.0

In [45]:
obj = pd.Series(['a', 'a', 'b', 'c', 'd']*4)

In [47]:
obj.describe()

count     20
unique     4
top        a
freq       8
dtype: object