In [2]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web

c:\program files\python37\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
all_data= {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [5]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})

In [10]:
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

In [8]:
price

                  AAPL         IBM        MSFT         GOOG
Date
2015-07-07  115.837006  132.760086   40.092571   525.020020
2015-07-08  112.961594  131.279572   40.038265   516.830017
2015-07-09  110.657570  131.834763   40.291676   520.679993
2015-07-10  113.615921  134.329025   40.373127   530.130005
2015-07-13  115.809349  136.284256   41.214806   546.549988
...                ...         ...         ...          ...
2020-06-26  353.630005  117.190002  196.330002  1359.900024
2020-06-29  361.779999  119.750000  198.440002  1394.969971
2020-06-30  364.799988  120.769997  203.509995  1413.609985
2020-07-01  364.109985  118.540001  204.699997  1438.040039
2020-07-02  364.109985  119.699997  206.259995  1464.699951

[1258 rows x 4 columns]

In [12]:
volume

                  AAPL         IBM        MSFT     GOOG
Date
2015-07-07  46946800.0   3549900.0  36435800.0  1597200
2015-07-08  60761600.0   2776300.0  39785900.0  1296700
2015-07-09  78595000.0   4199700.0  32424700.0  1842300
2015-07-10  61354500.0   4538300.0  25465800.0  1956700
2015-07-13  41440500.0   4229000.0  28178300.0  2206500
...                ...         ...         ...      ...
2020-06-26  51314200.0  10750100.0  54675800.0  4267700
2020-06-29  32661500.0   4159500.0  26701600.0  1810200
2020-06-30  35055800.0   3919500.0  34310300.0  2042400
2020-07-01  27684300.0   4655800.0  32061200.0  1775200
2020-07-02  28510400.0   3747000.0  29315800.0  1859100

[1258 rows x 4 columns]

In [13]:
returns = price.pct_change()

In [14]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2020-06-26 -0.030726 -0.015458 -0.020016 -0.056496
2020-06-29  0.023047  0.021845  0.010747  0.025789
2020-06-30  0.008348  0.008518  0.025549  0.013362
2020-07-01 -0.001891 -0.018465  0.005847  0.017282
2020-07-02  0.000000  0.009786  0.007621  0.018539

In [17]:
returns['MSFT'].corr(returns['IBM'])

0.5946064878778335

In [18]:
returns['MSFT'].cov(returns['IBM'])

0.00016672228066418526

In [19]:
returns.MSFT.corr(returns.IBM)

0.5946064878778335

In [20]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.529329  0.714409  0.645670
IBM   0.529329  1.000000  0.594606  0.526582
MSFT  0.714409  0.594606  1.000000  0.751241
GOOG  0.645670  0.526582  0.751241  1.000000

In [23]:
returns.corrwith(returns[['IBM','MSFT']])

IBM     1.0
MSFT    1.0
AAPL    NaN
GOOG    NaN
dtype: float64

In [26]:
returns.corrwith(volume, axis=1)

Date
2015-07-07         NaN
2015-07-08   -0.268570
2015-07-09   -0.912395
2015-07-10    0.324811
2015-07-13   -0.283107
                ...
2020-06-26    0.435000
2020-06-29   -0.492192
2020-06-30    0.404293
2020-07-01    0.048525
2020-07-02   -0.797452
Length: 1258, dtype: float64